Outputs/*
Library/metadata/*
sceneList.txt
obj/*
Library/shadercompiler-UnityShaderCompiler.*.log
Library/ShaderCache/*
Library/ShaderCache.db
Import/*
.vs/*
*.csproj
Temp/*
Library/EditorInstance*
Library/ScriptAssemblies/*
.DS_Store